@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


::-webkit-scrollbar {
    /* display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; */
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #17a2b8;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.3px;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

input,
button {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border: 2px solid whitesmoke;
    color: slategray;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
    font-size: 14px;
}

button:hover {
    opacity: 0.85;
}

label {
    color: slategray;
    font-weight: 500;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page CSS Styles */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

.heading {
    font-size: 30px;
    color: coral;
}

.wrapper {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    text-align: center;
    font-weight: 500;
    color: darkslategray;
}

.create-btn {
    background-color: #007bff;
}

.join-btn {
    background-color: #6c757d;
}

/* Room Page CSS Styles */

.message-box {
    border-radius: 10px;
    border: 3px solid whitesmoke;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid whitesmoke;
}

.room-detail {
    color: coral;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding: 20px 10px;
}

.inputs {
    padding: 20px;
    display: flex;
    gap: 10px;
}

#message {
    flex: 1;
}

#send-btn {
    background-color: #28a745;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 15px;
}

.muted {
    font-size: 12px;
    color: darkgray;
}

.sender {
    color: #17a2b8;
}

#leave-btn {
    background-color: #dc3545;
}