<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask & SocketIO</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='icon/chat.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>

<body>
    <div class="content"> {% block content %} {% endblock content %} </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>