{% extends 'base.html' %}
{% block content %}

<div class="message-box">
    <div class="details">
        <h3 class="room-detail">You &#187; {{name}} & Room Code &#187; {{code}}</h3>
        <button id="leave-btn" onClick="leaveRoom()">Leave Room</button>
    </div>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" placeholder="Message" name="message" id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send <strong>&#8811;</strong>
        </button>
    </div>
</div>

<script type="text/javascript">
    const socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
        const content = `<div class="text">
            <span><strong class="sender">${name} &#187; </strong> ${msg}</span>
            <span class="muted">${new Date().toLocaleString()}</span>
            </div>`;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    };

    const url = "http://localhost:8070";

    const replaceUrl = (newUrl) => {
        // history.replaceState(null, '', newUrl);
        window.location.href = newUrl;
    }

    const leaveRoom = () => {
        const res = socketio.emit("leave");
        if (res) {
            replaceUrl(url);
        };
    }
</script>

{% for msg in messages %}

<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>

{% endfor %}
{% endblock %}